{
    "APP_ENV": "development",
    "APP_NAME": "Bow Application",
    "APP_URL": "http://localhost:5000",
    "APP_URI_PREFIX": "",
    "APP_AUTO_CSRF": true,

    "DB_DEFAULT": "mysql",

    "MYSQL_HOSTNAME": "127.0.0.1",
    "MYSQL_USERNAME": "root",
    "MYSQL_PASSWORD": "secret",
    "MYSQL_DBNAME": "bowapp",
    "MYSQL_CHARSET": "utf8mb4",
    "MYSQL_COLLATE": "utf8mb4_unicode_ci",
    "MYSQL_ENGINE": "InnoDB",
    "MYSQL_PORT": 3306,
    "MYSQL_SOCKET": "",
    "MYSQL_PREFIX": "",

    "SESSION_NAME": "BOW",
    "SESSION_LIFE": 10800,
    "SESSION_PATH": "/",
    "SESSION_DOMAIN": null,
    "SESSION_SECURE": false,
    "SESSION_HTTPONLY": true,

    "S3_KEY": "",
    "S3_SECRET": "",
    "S3_REGION": "",
    "S3_BUCKET": "",

    "FTP_HOSTNAME": "localhost",
    "FTP_PASSWORD": "password",
    "FTP_USERNAME": "username",
    "FTP_PORT": 21,
    "FTP_STARTROOT": "",
    "FTP_TLS": false,
    "FTP_TIMEOUT": 50,

    "MAIL_DRIVER": "smtp",

    "SMTP_HOSTNAME": "localhost",
    "SMTP_USERNAME": "username@localhost",
    "SMTP_PASSWORD": "password",
    "SMTP_PORT": 25,
    "SMTP_TLS": false,
    "SMTP_SSL": false,
    "SMTP_TIMEOUT": 50,

    "MAIL_FROM_EMAIL": "example@domain.com",
    "MAIL_FROM_NAME": "Bow Framework"
}
