.idea/
!.gitignore
composer.lock
node_modules
db/migration/.registers
vendor/
package-lock.json
public
!public/**/.gitkeep
!public/index.php
!public/robots.txt
!public/.htaccess
!public/favicon.ico
.env.json
