<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400" type="text/css"/>
	<link rel="stylesheet" href="/css/app.css"/>
	<link rel="icon" type="image/x-icon" href="/favicon.png"/>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
	<title>Bow - worked</title>
</head>
<body>
<div id="main">
	<header>
        <div>
            <h1 style="font-size: 3rem">Bow</h1>
            <span class="i">{{ trans('welcome.message')|raw }}</span>
        </div>
	</header>
	<br>
	<br>
	<section style="font-size: 0.8rem">
		<a href="https://github.com/bowphp/app" target="_blank" style="font-size: 0.8rem">fork me</a>
		<a href="https://github.com/bowphp/docs" target="_blank" style="font-size: 0.8rem">documentation</a>
	</section>
	<br>
	<br>
    <div class="shell" style="font-size: 0.8rem">
        <span style="color: red">$</span> <span style="color: #478">composer</span> <span style="color: #bd362f">create-project</span> <span style="color: #bd362f">--prefer-dist</span> bowphp/app <span style="color: #478">App</span>
    </div>
</div>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
