Options -indexes

<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Configuration pour les serveurs mutualisés
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule ^(.*)\.(gif|png|js|css|jpg|jpeg|swf|tff|woff|eof|mp3|mp4) /public/$1.$2 [L,NC]

    # rédirige les URLs avec un slash à la fin, si ce n'est un dossier.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ index.php [L]
</IfModule>
