$color: #bd362f;

$font-family: 'Lato', 'console', monospace, serif, 'sans-serif';

#main {
  position: relative;
  margin: 10% auto;
  width: 550px;
  text-align: center;
  font-family: $font-family;
}
