{# twig exemple #}
{% set errno = 404 %}
{% set errmessage = "Not found file" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ errno }}</title>
    </head>
    <body>
        <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 20px; background-color: #eee; border: #ddd; padding-left: 10px; text-align: center; border-top: #bd362f 3px solid; padding: 5px">
            <h1><b>{{ errno }}</b></h1>
            <p>
                <b>{{ errmessage }}</b>
            </p>
        </div>
    </body>
</html>
