<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title>Bow.Framewoork - work</title>
	<style type="text/css">
		body {
			margin: auto;
			width: 550px;
			text-align: center;
		},
		div {
			color: #151515;
			font-family: 'Inconsolata', monospace, monaco, 'Menlo', "Menlo For PowerLine";
		}
		.f-g {
			font-size: 60px;
			position: relative;
		}
		span.i {
			font-style: italic;
			font-size: 10px;
			padding: 5px;
			position: absolute;
			left: 35px;
			top: 55px;
		}
		a {
			font-size: 13px;
			border-radius: 2px;
			background-color: #bd362f;
			color: #fff;
			padding: 5px;
			text-decoration: none;
		}
		a:hover {
			background-color: #555;
		}
		.shell {
			margin-bottom: 5px;
			font-family: courier;
			color: #999;
			padding: 8px;
			border-radius: 5px;
			background-color: #eee;
			font-weight: bold;
		}
		.f {
			color: #bd362f;
			font-weight: bolder;
			font-family: courier;
			position: relative;
		}
	</style>
</head>
<body>
	<div>
		<p class="name f-g"><span class="f">Bow.framework</span><span class="i">The Bow . Framework, simplify your webdev</span></p>
		<p><a href="https://github.com/papac/bow.git" target="_blank">fork me</a> <a href="https://papac.github.io" target="_blank">doc</a></p>
		<div class="shell"><span style="color: red">$</span> composer <span style="color: #bd362f">create-projet</span> papac/bow <span style="color: #bd362f">--prefer-dist</span> App</div>
	</div>
</body>
</html>
