<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100" type="text/css"/>
	<link rel="icon" type="image/x-icon" href="/favicon.png"/>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
	<title>Bow - worked</title>
	<style type="text/css">
		div#main {
			position: relative;
			margin: 10% auto;
			width: 550px;
			text-align: center;
			font-family: 'Lato';
		},
		span.i {
			position: absolute;
			font-style: italic;
			font-size: 10px;
			padding: 5px;
			left: 0;
			top: 0;
		}
		a {
			font-size: 13px;
			border-radius: 2px;
			background-color: #bd362f;
			color: #fff;
			font-weight: bold;
			padding: 4px;
			text-decoration: none;
		}
		a:hover {
			background-color: #555;
		}
		.shell {
			margin-bottom: 5px;
			font-family: "Monaco", "Inconsolata", monospace;
			color: #999;
			padding: 8px;
			border-radius: 5px;
			background-color: #eee;
			font-weight: bold;
			font-size: 11px;
			text-align: left;
		}
		.f {
			color: #bd362f;
			font-weight: bolder;
			font-size: 80px;
			width: auto;
		}
	</style>
</head>
<body>
<div id="main">
	<header>
		<h1><span class="f">Bow.framework</span></h1>
		<span class="i">The Bow . Framework, simplify your webdev</span>
	</header>
	<br>
	<section>
		<a href="https://github.com/papac/bow.git" target="_blank">fork me</a>
		<a href="https://papac.github.com/docs" target="_blank">doc</a>
	</section>
	<br>
	<div class="shell">
		<span style="color: red">$</span> <span style="color: #478">composer</span> <span style="color: #bd362f">create-projet</span> <span style="color: #bd362f">--prefer-dist</span> papac/bow <span style="color: #478">App</span>
	</div>
</div>
</body>
</html>